.activity-enter
  transition all 0.5s
  transform translateX(-120%)
  max-height 0
  &.activity-enter-active
    max-height 61px
    transform translateX(0)


.activity-leave
  transition all 0.5s
  opacity 1
  max-height 61px
  &.activity-leave-active
    opacity 0
    max-height 0
    color red



.activity-edit-form-enter
  transition all 0.5s
  transform translateY(-120%)
  max-height 0
  &.activity-edit-form-enter-active
    max-height 38px
    transform translateY(0)


.activity-edit-form-leave
  transition all 0.5s
  opacity 1
  transform translateY(0)
  max-height 38px
  &.activity-edit-form-leave-active
    opacity 0
    max-height 0
    transform translateY(-120%)


.tags-enter
  transition all 0.3s
  transform translateX(-120%)
  opactity 0
  &.tags-enter-active
    opacity 1
    transform translateX(0)


.tags-leave
  transition all 0.3s
  opacity 1
  // transform translateX(0)
  &.tags-leave-active
    opacity 0
    // transform translateX(-120%)
