
.container--full {
  flex-basis: 100%;
}

.container {
  flex-basis: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: var(--outer-margin, 2rem);
  padding-left: var(--outer-margin, 2rem);
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: var(--gutter-compensation, -0.5rem);
  margin-left: var(--gutter-compensation, -0.5rem);
}

.row.gutter\\+ {
  margin-right: calc((var(--gutter-compensation, -0.5rem) * 2))
  margin-left: calc((var(--gutter-compensation, -0.5rem) * 2))
}

.row.gutter\\+\\+ {
  margin-right: calc((var(--gutter-compensation, -0.5rem) * 4))
  margin-left: calc((var(--gutter-compensation, -0.5rem) * 4))
}

.row.gutter- {
  margin-right: calc((var(--gutter-compensation, -0.5rem) / 0.5))
  margin-left: calc((var(--gutter-compensation, -0.5rem) * 0.5))
}

.row.gutter-- {
  margin-right: calc((var(--gutter-compensation, -0.5rem) * 0.25))
  margin-left: calc((var(--gutter-compensation, -0.5rem) * 0.25))
}

.row.gutter--0 {
  margin-left: 0;
  margin-right: 0;
}

.flex-direction--row-reverse {
  flex-direction: row-reverse;
}

.justify-content--start {
  justify-content: flex-start;
}
.justify-content--center {
  justify-content: center;
}
.justify-content--end {
  justify-content: end;
}
.justify-content--around {
  justify-content: space-around;
}
.justify-content--between {
  justify-content: space-between;
}

.align-items--start {
  align-items: flex-start;
}
.align-items--center {
  align-items: center;
}
.align-items--end {
  align-items: flex-end;
}
.align-items--baseline {
  align-items: baseline;
}


.row--start,
.col--start {
  justify-content: flex-start;
  text-align: start;
}

.row--center {
  justify-content: center;
  text-align: center;
}

.row--end {
  justify-content: flex-end;
  text-align: end;
}

.row--top {
  align-items: flex-start;
}

.row--middle,
.align-items--center {
  align-items: center;
}

.row--baseline {
  align-items: baseline;
}

.row--bottom {
  align-items: flex-end;
}

.row--around {
  justify-content: space-around;
}

.row--between {
  justify-content: space-between;
}

.col,
.col--auto,
.col--1,
.col--2,
.col--3,
.col--4,
.col--5,
.col--6,
.col--7,
.col--8,
.col--9,
.col--10,
.col--11,
.col--12,
.col--offset-0,
.col--offset-1,
.col--offset-2,
.col--offset-3,
.col--offset-4,
.col--offset-5,
.col--offset-6,
.col--offset-7,
.col--offset-8,
.col--offset-9,
.col--offset-10,
.col--offset-11,
.col--offset-12 {
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: var(--half-gutter-width, 0.5rem);
  padding-left: var(--half-gutter-width, 0.5rem);
}

.col--auto {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col--1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.col--2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.col--3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col--4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.col--5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.col--6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col--7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.col--8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.col--9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col--10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.col--11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.col--12 {
  flex-basis: 100%;
  max-width: 100%;
}

.col--offset-0 {
  margin-left: 0;
}

.col--offset-1 {
  margin-left: 8.33333333%;
}

.col--offset-2 {
  margin-left: 16.66666667%;
}

.col--offset-3 {
  margin-left: 25%;
}

.col--offset-4 {
  margin-left: 33.33333333%;
}

.col--offset-5 {
  margin-left: 41.66666667%;
}

.col--offset-6 {
  margin-left: 50%;
}

.col--offset-7 {
  margin-left: 58.33333333%;
}

.col--offset-8 {
  margin-left: 66.66666667%;
}

.col--offset-9 {
  margin-left: 75%;
}

.col--offset-10 {
  margin-left: 83.33333333%;
}

.col--offset-11 {
  margin-left: 91.66666667%;
}

.col--first {
  order: -1;
}

.col--last {
  order: 1;
}

.col--right {
  text-align: right;
}









.text-align--left {
  text-align: left;
}
.text-align--center {
  text-align: center;
}
.text-align--right {
  text-align: right;
}

.col,
.col--1,
.col--2,
.col--3,
.col--4,
.col--5,
.col--6,
.col--7,
.col--8,
.col--9,
.col--10,
.col--11,
.col--12,
.col--offset-0,
.col--offset-1,
.col--offset-2,
.col--offset-3,
.col--offset-4,
.col--offset-5,
.col--offset-6,
.col--offset-7,
.col--offset-8,
.col--offset-9,
.col--offset-10,
.col--offset-11,
.col--offset-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: var(--half-gutter-width, 0.5rem);
  padding-left: var(--half-gutter-width, 0.5rem);
}

.gutter\+ .col,
.gutter\+ .col--1,
.gutter\+ .col--2,
.gutter\+ .col--3,
.gutter\+ .col--4,
.gutter\+ .col--5,
.gutter\+ .col--6,
.gutter\+ .col--7,
.gutter\+ .col--8,
.gutter\+ .col--9,
.gutter\+ .col--10,
.gutter\+ .col--11,
.gutter\+ .col--12,
.gutter\+ .col--offset-0,
.gutter\+ .col--offset-1,
.gutter\+ .col--offset-2,
.gutter\+ .col--offset-3,
.gutter\+ .col--offset-4,
.gutter\+ .col--offset-5,
.gutter\+ .col--offset-6,
.gutter\+ .col--offset-7,
.gutter\+ .col--offset-8,
.gutter\+ .col--offset-9,
.gutter\+ .col--offset-10,
.gutter\+ .col--offset-11,
.gutter\+ .col--offset-12 {
  padding-right: calc(var(--half-gutter-width, 0.5rem) * 2);
  padding-left: calc(var(--half-gutter-width, 0.5rem) * 2);
}

.gutter\+\+ .col,
.gutter\+\+ .col--1,
.gutter\+\+ .col--2,
.gutter\+\+ .col--3,
.gutter\+\+ .col--4,
.gutter\+\+ .col--5,
.gutter\+\+ .col--6,
.gutter\+\+ .col--7,
.gutter\+\+ .col--8,
.gutter\+\+ .col--9,
.gutter\+\+ .col--10,
.gutter\+\+ .col--11,
.gutter\+\+ .col--12,
.gutter\+\+ .col--offset-0,
.gutter\+\+ .col--offset-1,
.gutter\+\+ .col--offset-2,
.gutter\+\+ .col--offset-3,
.gutter\+\+ .col--offset-4,
.gutter\+\+ .col--offset-5,
.gutter\+\+ .col--offset-6,
.gutter\+\+ .col--offset-7,
.gutter\+\+ .col--offset-8,
.gutter\+\+ .col--offset-9,
.gutter\+\+ .col--offset-10,
.gutter\+\+ .col--offset-11,
.gutter\+\+ .col--offset-12 {
  padding-right: calc(var(--half-gutter-width, 0.5rem) * 4);
  padding-left: calc(var(--half-gutter-width, 0.5rem) * 4);
}

.gutter- .col,
.gutter- .col--1,
.gutter- .col--2,
.gutter- .col--3,
.gutter- .col--4,
.gutter- .col--5,
.gutter- .col--6,
.gutter- .col--7,
.gutter- .col--8,
.gutter- .col--9,
.gutter- .col--10,
.gutter- .col--11,
.gutter- .col--12,
.gutter- .col--offset-0,
.gutter- .col--offset-1,
.gutter- .col--offset-2,
.gutter- .col--offset-3,
.gutter- .col--offset-4,
.gutter- .col--offset-5,
.gutter- .col--offset-6,
.gutter- .col--offset-7,
.gutter- .col--offset-8,
.gutter- .col--offset-9,
.gutter- .col--offset-10,
.gutter- .col--offset-11,
.gutter- .col--offset-12 {
  padding-right: calc(var(--half-gutter-width, 0.5rem) * 0.5);
  padding-left: calc(var(--half-gutter-width, 0.5rem) * 0.5);
}

.gutter-- .col,
.gutter-- .col--1,
.gutter-- .col--2,
.gutter-- .col--3,
.gutter-- .col--4,
.gutter-- .col--5,
.gutter-- .col--6,
.gutter-- .col--7,
.gutter-- .col--8,
.gutter-- .col--9,
.gutter-- .col--10,
.gutter-- .col--11,
.gutter-- .col--12,
.gutter-- .col--offset-0,
.gutter-- .col--offset-1,
.gutter-- .col--offset-2,
.gutter-- .col--offset-3,
.gutter-- .col--offset-4,
.gutter-- .col--offset-5,
.gutter-- .col--offset-6,
.gutter-- .col--offset-7,
.gutter-- .col--offset-8,
.gutter-- .col--offset-9,
.gutter-- .col--offset-10,
.gutter-- .col--offset-11,
.gutter-- .col--offset-12 {
  padding-right: calc(var(--half-gutter-width, 0.5rem) * 0.25);
  padding-left: calc(var(--half-gutter-width, 0.5rem) * 0.25);
}


.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col--1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.col--2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.col--3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col--4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.col--5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.col--6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col--7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.col--8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.col--9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col--10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.col--11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.col--12 {
  flex-basis: 100%;
  max-width: 100%;
}

.col--offset-0 {
  margin-left: 0;
}

.col--offset-1 {
  margin-left: 8.33333333%;
}

.col--offset-2 {
  margin-left: 16.66666667%;
}

.col--offset-3 {
  margin-left: 25%;
}

.col--offset-4 {
  margin-left: 33.33333333%;
}

.col--offset-5 {
  margin-left: 41.66666667%;
}

.col--offset-6 {
  margin-left: 50%;
}

.col--offset-7 {
  margin-left: 58.33333333%;
}

.col--offset-8 {
  margin-left: 66.66666667%;
}

.col--offset-9 {
  margin-left: 75%;
}

.col--offset-10 {
  margin-left: 83.33333333%;
}

.col--offset-11 {
  margin-left: 91.66666667%;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

@media only screen and (max-width: 48em) {
  .hide--xs-only {
    display: none !important;
  }
}

.hide {
  display: none !important;
}


@media only screen and (min-width: 48em) and (max-width: 64em) { // 768px - 1024px;
  .hide--sm-only {
    display: none !important;
  }
}

// Small media query -- for small screens and up - 768px.
@media only screen and (min-width: 48em) { // 768px;
  .col--sm,
  .col--sm-1,
  .col--sm-2,
  .col--sm-3,
  .col--sm-4,
  .col--sm-5,
  .col--sm-6,
  .col--sm-7,
  .col--sm-8,
  .col--sm-9,
  .col--sm-10,
  .col--sm-11,
  .col--sm-12,
  .col--sm-offset-0,
  .col--sm-offset-1,
  .col--sm-offset-2,
  .col--sm-offset-3,
  .col--sm-offset-4,
  .col--sm-offset-5,
  .col--sm-offset-6,
  .col--sm-offset-7,
  .col--sm-offset-8,
  .col--sm-offset-9,
  .col--sm-offset-10,
  .col--sm-offset-11,
  .col--sm-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: var(--half-gutter-width, 0.5rem);
    padding-left: var(--half-gutter-width, 0.5rem);
  }


  .gutter\+ .col--sm,
  .gutter\+ .col--sm-1,
  .gutter\+ .col--sm-2,
  .gutter\+ .col--sm-3,
  .gutter\+ .col--sm-4,
  .gutter\+ .col--sm-5,
  .gutter\+ .col--sm-6,
  .gutter\+ .col--sm-7,
  .gutter\+ .col--sm-8,
  .gutter\+ .col--sm-9,
  .gutter\+ .col--sm-10,
  .gutter\+ .col--sm-11,
  .gutter\+ .col--sm-12,
  .gutter\+ .col--sm-offset-0,
  .gutter\+ .col--sm-offset-1,
  .gutter\+ .col--sm-offset-2,
  .gutter\+ .col--sm-offset-3,
  .gutter\+ .col--sm-offset-4,
  .gutter\+ .col--sm-offset-5,
  .gutter\+ .col--sm-offset-6,
  .gutter\+ .col--sm-offset-7,
  .gutter\+ .col--sm-offset-8,
  .gutter\+ .col--sm-offset-9,
  .gutter\+ .col--sm-offset-10,
  .gutter\+ .col--sm-offset-11,
  .gutter\+ .col--sm-offset-12 {
    padding-right: calc(var(--half-gutter-width, 0.5rem) * 2);
    padding-left: calc(var(--half-gutter-width, 0.5rem) * 2);
  }

  .gutter\+\+ .col--sm,
  .gutter\+\+ .col--sm-1,
  .gutter\+\+ .col--sm-2,
  .gutter\+\+ .col--sm-3,
  .gutter\+\+ .col--sm-4,
  .gutter\+\+ .col--sm-5,
  .gutter\+\+ .col--sm-6,
  .gutter\+\+ .col--sm-7,
  .gutter\+\+ .col--sm-8,
  .gutter\+\+ .col--sm-9,
  .gutter\+\+ .col--sm-10,
  .gutter\+\+ .col--sm-11,
  .gutter\+\+ .col--sm-12,
  .gutter\+\+ .col--sm-offset-0,
  .gutter\+\+ .col--sm-offset-1,
  .gutter\+\+ .col--sm-offset-2,
  .gutter\+\+ .col--sm-offset-3,
  .gutter\+\+ .col--sm-offset-4,
  .gutter\+\+ .col--sm-offset-5,
  .gutter\+\+ .col--sm-offset-6,
  .gutter\+\+ .col--sm-offset-7,
  .gutter\+\+ .col--sm-offset-8,
  .gutter\+\+ .col--sm-offset-9,
  .gutter\+\+ .col--sm-offset-10,
  .gutter\+\+ .col--sm-offset-11,
  .gutter\+\+ .col--sm-offset-12 {
    padding-right: calc(var(--half-gutter-width, 0.5rem) * 4);
    padding-left: calc(var(--half-gutter-width, 0.5rem) * 4);
  }

  .gutter- .col--sm,
  .gutter- .col--sm-1,
  .gutter- .col--sm-2,
  .gutter- .col--sm-3,
  .gutter- .col--sm-4,
  .gutter- .col--sm-5,
  .gutter- .col--sm-6,
  .gutter- .col--sm-7,
  .gutter- .col--sm-8,
  .gutter- .col--sm-9,
  .gutter- .col--sm-10,
  .gutter- .col--sm-11,
  .gutter- .col--sm-12,
  .gutter- .col--sm-offset-0,
  .gutter- .col--sm-offset-1,
  .gutter- .col--sm-offset-2,
  .gutter- .col--sm-offset-3,
  .gutter- .col--sm-offset-4,
  .gutter- .col--sm-offset-5,
  .gutter- .col--sm-offset-6,
  .gutter- .col--sm-offset-7,
  .gutter- .col--sm-offset-8,
  .gutter- .col--sm-offset-9,
  .gutter- .col--sm-offset-10,
  .gutter- .col--sm-offset-11,
  .gutter- .col--sm-offset-12 {
    padding-right: calc(var(--half-gutter-width, 0.5rem) * 0.5);
    padding-left: calc(var(--half-gutter-width, 0.5rem) * 0.5);
  }

  .gutter-- .col--sm,
  .gutter-- .col--sm-1,
  .gutter-- .col--sm-2,
  .gutter-- .col--sm-3,
  .gutter-- .col--sm-4,
  .gutter-- .col--sm-5,
  .gutter-- .col--sm-6,
  .gutter-- .col--sm-7,
  .gutter-- .col--sm-8,
  .gutter-- .col--sm-9,
  .gutter-- .col--sm-10,
  .gutter-- .col--sm-11,
  .gutter-- .col--sm-12,
  .gutter-- .col--sm-offset-0,
  .gutter-- .col--sm-offset-1,
  .gutter-- .col--sm-offset-2,
  .gutter-- .col--sm-offset-3,
  .gutter-- .col--sm-offset-4,
  .gutter-- .col--sm-offset-5,
  .gutter-- .col--sm-offset-6,
  .gutter-- .col--sm-offset-7,
  .gutter-- .col--sm-offset-8,
  .gutter-- .col--sm-offset-9,
  .gutter-- .col--sm-offset-10,
  .gutter-- .col--sm-offset-11,
  .gutter-- .col--sm-offset-12 {
    padding-right: calc(var(--half-gutter-width, 0.5rem) * 0.25);
    padding-left: calc(var(--half-gutter-width, 0.5rem) * 0.25);
  }


  .col--sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col--sm-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col--sm-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col--sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col--sm-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col--sm-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col--sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col--sm-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col--sm-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col--sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col--sm-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col--sm-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col--sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col--sm-offset-0 {
    margin-left: 0;
  }

  .col--sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col--sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col--sm-offset-3 {
    margin-left: 25%;
  }

  .col--sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col--sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col--sm-offset-6 {
    margin-left: 50%;
  }

  .col--sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col--sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col--sm-offset-9 {
    margin-left: 75%;
  }

  .col--sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col--sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .first--sm {
    order: -1;
  }

  .last--sm {
    order: 1;
  }

  .hide--sm-and-up {
    display: none !important;
  }
}
