.m
  margin var(--gutter-width, 1rem)

.mt
  margin-top var(--gutter-width, 1rem)

.mb
  margin-bottom var(--gutter-width, 1rem)

.ml
  margin-left var(--gutter-width, 1rem)

.mr
  margin-right var(--gutter-width, 1rem)


@css {
  .m\+  { margin: calc(var(--gutter-width, 1rem) * 2); }
  .mt\+ { margin-top: calc(var(--gutter-width, 1rem) * 2); }
  .mb\+ { margin-bottom: calc(var(--gutter-width, 1rem) * 2); }
  .ml\+ { margin-left: calc(var(--gutter-width, 1rem) * 2); }
  .mr\+ { margin-right: calc(var(--gutter-width, 1rem) * 2); }

  .m\+\+  { margin: calc(var(--gutter-width, 1rem) * 4); }
  .mt\+\+ { margin-top: calc(var(--gutter-width, 1rem) * 4); }
  .mb\+\+ { margin-bottom: calc(var(--gutter-width, 1rem) * 4); }
  .ml\+\+ { margin-left: calc(var(--gutter-width, 1rem) * 4); }
  .mr\+\+ { margin-right: calc(var(--gutter-width, 1rem) * 4); }
}

.m-
  margin calc(var(--gutter-width, 1rem) / 2)

.mt-
  margin-top calc(var(--gutter-width, 1rem) / 2)

.mb-
  margin-bottom calc(var(--gutter-width, 1rem) / 2)

.ml-
  margin-left calc(var(--gutter-width, 1rem) / 2)

.mr-
  margin-right calc(var(--gutter-width, 1rem) / 2)

.m--
  margin calc(var(--gutter-width, 1rem) / 4)

.mt--
  margin-top calc(var(--gutter-width, 1rem) / 4)

.mb--
  margin-bottom calc(var(--gutter-width, 1rem) / 4)

.ml--
  margin-left calc(var(--gutter-width, 1rem) / 4)

.mr--
  margin-right calc(var(--gutter-width, 1rem) / 4)
