.p
  padding var(--gutter-width, 1rem)

.pt
  padding-top var(--gutter-width, 1rem)

.pb
  padding-bottom var(--gutter-width, 1rem)

.pl
  padding-left var(--gutter-width, 1rem)

.pr
  padding-right var(--gutter-width, 1rem)


@css {
  .p\+  { padding: calc(var(--gutter-width, 1rem) * 2); }
  .pt\+ { padding-top: calc(var(--gutter-width, 1rem) * 2); }
  .pb\+ { padding-bottom: calc(var(--gutter-width, 1rem) * 2); }
  .pl\+ { padding-left: calc(var(--gutter-width, 1rem) * 2); }
  .pr\+ { padding-right: calc(var(--gutter-width, 1rem) * 2); }

  .p\+\+  { padding: calc(var(--gutter-width, 1rem) * 4); }
  .pt\+\+ { padding-top: calc(var(--gutter-width, 1rem) * 4); }
  .pb\+\+ { padding-bottom: calc(var(--gutter-width, 1rem) * 4); }
  .pl\+\+ { padding-left: calc(var(--gutter-width, 1rem) * 4); }
  .pr\+\+ { padding-right: calc(var(--gutter-width, 1rem) * 4); }
}

.p-
  padding calc(var(--gutter-width, 1rem) / 2)

.pt-
  padding-top calc(var(--gutter-width, 1rem) / 2)

.pb-
  padding-bottom calc(var(--gutter-width, 1rem) / 2)

.pl-
  padding-left calc(var(--gutter-width, 1rem) / 2)

.pr-
  padding-right calc(var(--gutter-width, 1rem) / 2)

.p--
  padding calc(var(--gutter-width, 1rem) / 4)

.pt--
  padding-top calc(var(--gutter-width, 1rem) / 4)

.pb--
  padding-bottom calc(var(--gutter-width, 1rem) / 4)

.pl--
  padding-left calc(var(--gutter-width, 1rem) / 4)

.pr--
  padding-right calc(var(--gutter-width, 1rem) / 4)
