.p
  padding var(--gutter-width, 1rem)

.pt
  padding-top var(--gutter-width, 1rem)

.pb
  padding-bottom var(--gutter-width, 1rem)

.pl
  padding-left var(--gutter-width, 1rem)

.pr
  padding-right var(--gutter-width, 1rem)

.pv
  padding-top var(--gutter-width, 1rem)
  padding-bottom var(--gutter-width, 1rem)

.ph
  padding-left var(--gutter-width, 1rem)
  padding-right var(--gutter-width, 1rem)


@css {
  .p\+  { padding: calc(var(--gutter-width, 1rem) * 2); }
  .pt\+ { padding-top: calc(var(--gutter-width, 1rem) * 2); }
  .pb\+ { padding-bottom: calc(var(--gutter-width, 1rem) * 2); }
  .pl\+ { padding-left: calc(var(--gutter-width, 1rem) * 2); }
  .pr\+ { padding-right: calc(var(--gutter-width, 1rem) * 2); }
  .pv\+ {
    padding-top: calc(var(--gutter-width, 1rem) * 2);
    padding-bottom: calc(var(--gutter-width, 1rem) * 2);
  }
  .ph\+ {
    padding-left: calc(var(--gutter-width, 1rem) * 2);
    padding-right: calc(var(--gutter-width, 1rem) * 2);
  }

  .p\+\+  { padding: calc(var(--gutter-width, 1rem) * 4); }
  .pt\+\+ { padding-top: calc(var(--gutter-width, 1rem) * 4); }
  .pb\+\+ { padding-bottom: calc(var(--gutter-width, 1rem) * 4); }
  .pl\+\+ { padding-left: calc(var(--gutter-width, 1rem) * 4); }
  .pr\+\+ { padding-right: calc(var(--gutter-width, 1rem) * 4); }
  .pv\+\+ {
    padding-top: calc(var(--gutter-width, 1rem) * 4);
    padding-bottom: calc(var(--gutter-width, 1rem) * 4);
  }
  .ph\+\+ {
    padding-left: calc(var(--gutter-width, 1rem) * 4);
    padding-right: calc(var(--gutter-width, 1rem) * 4);
  }
}

.p-
  padding calc(var(--gutter-width, 1rem) / 2)

.pt-
  padding-top calc(var(--gutter-width, 1rem) / 2)

.pb-
  padding-bottom calc(var(--gutter-width, 1rem) / 2)

.pl-
  padding-left calc(var(--gutter-width, 1rem) / 2)

.pr-
  padding-right calc(var(--gutter-width, 1rem) / 2)

.pv-
  padding-top calc(var(--gutter-width, 1rem) / 2)
  padding-bottom calc(var(--gutter-width, 1rem) / 2)

.ph-
  padding-left calc(var(--gutter-width, 1rem) / 2)
  padding-right calc(var(--gutter-width, 1rem) / 2)

.p--
  padding calc(var(--gutter-width, 1rem) / 4)

.pt--
  padding-top calc(var(--gutter-width, 1rem) / 4)

.pb--
  padding-bottom calc(var(--gutter-width, 1rem) / 4)

.pl--
  padding-left calc(var(--gutter-width, 1rem) / 4)

.pr--
  padding-right calc(var(--gutter-width, 1rem) / 4)

.pv--
  padding-top calc(var(--gutter-width, 1rem) / 4)
  padding-bottom calc(var(--gutter-width, 1rem) / 4)

.ph--
  padding-left calc(var(--gutter-width, 1rem) / 4)
  padding-right calc(var(--gutter-width, 1rem) / 4)
