:root {
  --gutter-width: 1rem;
  --outer-margin: 2rem;
  --gutter-compensation: calc((var(--gutter-width) * 0.5) * -1);
  --half-gutter-width: calc((var(--gutter-width) * 0.5));
  --double-gutter-width: calc((var(--gutter-width) * 2.0));
}

@require './_normalize.styl'
@require './_grid.styl'
@require './_animations.styl'
@require './_margin.styl'
@require './_padding.styl'

body
  -webkit-font-smoothing antialiased

.underline
  text-decoration underline

.pointer
  cursor pointer

.cursor--pointer
  cursor pointer

.color-red
  color red

.color-red--hover:hover
  color red

.w--100
  width 100%

.font--10
  font-size 10px

.font--12
  font-size 12px

.flex
  display flex

.color--blue
  color #2F577F

.holy-grail--container
  display flex
  min-height 100vh
  flex-direction column

.holy-grail--content
  display flex
  flex 1


.bg--red
  background red
