:root {
  --gutter-width: 1rem;
  --outer-margin: 2rem;
  --gutter-compensation: calc((var(--gutter-width) * 0.5) * -1);
  --half-gutter-width: calc((var(--gutter-width) * 0.5));
  --double-gutter-width: calc((var(--gutter-width) * 2.0));

  --xs-min: 30;
  --sm-min: 48;
  --screen-xs-min: var(--xs-min)em;
  --screen-sm-min: var(--sm-min)em;
  --container-sm: calc(var(--sm-min) + var(--gutter-width));

  --color--midnight-blue: #2c3e50;
  --color--wet-ashpalt: #34495e;
  --color--clouds: #ecf0f1;
  --color--amethyst: #9b59b6;
  --color--belize-hole: #2980b9;
  --color--peter-river: #3498db;
  --color--wisteria: #8e44ad;
  --color--alizarin: #e74c3c;
  --color--pomegranate: #c0392b;
  --color--silver: #bdc3c7;
}

@require './_normalize.styl'
@require './_grid.styl'
@require './_animations.styl'
@require './_margin.styl'
@require './_padding.styl'

.bg--midnight-blue
  background-color var(--color--midnight-blue)

.bg--wet-asphalt
  background-color var(--color--wet-ashpalt)

.bg--clouds
  background-color var(--color--clouds)

.bg--belize-hole
  background-color var(--color--belize-hole)

.bg--peter-river
  background-color var(--color--peter-river)

.bg--belize-hole--hover:hover
  background-color var(--color--belize-hole)

.bg--peter-river--hover:hover
  background-color var(--color--peter-river)

.bg--amethyst
  background-color var(--color--amethyst)

.bg--wisteria
  background-color var(--color--wisteria)

.bg--wisteria--hover:hover
  background-color var(--color--wisteria)

.bg--alizarin
  background-color var(--color--alizarin)

.bg--alizarin--hover:hover
  background-color var(--color--alizarin)

.bg--pomegranate
  background-color var(--color--pomegranate)

.bg--pomegranate--hover:hover
  background-color var(--color--pomegranate)

body
  -webkit-font-smoothing antialiased
  color var(--color--midnight-blue)

input
  border 0
  width 100%

.underline
  text-decoration underline

.pointer
  cursor pointer

.cursor--pointer
  cursor pointer

.color-red
  color red

.color-red--hover:hover
  color red

.w--100
  width 100%

.font--10
  font-size 10px

.font--12
  font-size 12px

.flex
  display flex

.color--blue
  color #2F577F

.text--white
  color #fff

.text--white--hover:hover
  color #fff

.text--amethyst
  color: var(--color--amethyst)

.text--silver
  color var(--color--silver)

.transition--5-10
  transition 0.5s all ease

.transition--3-10
  transition 0.3s all ease

.transition--1-10
  transition 0.1s all ease

.holy-grail--container
  display flex
  min-height 100vh
  flex-direction column

.holy-grail--content
  display flex
  flex 1


.bg--red
  background red

@-webkit-keyframes bgGradient {
    0%{background-position:17% 0%}
    50%{background-position:84% 100%}
    100%{background-position:17% 0%}
}
@-moz-keyframes bgGradient {
    0%{background-position:17% 0%}
    50%{background-position:84% 100%}
    100%{background-position:17% 0%}
}
@keyframes bgGradient {
    0%{background-position:17% 0%}
    50%{background-position:84% 100%}
    100%{background-position:17% 0%}
}

.bg--gradient-blue {
  background: linear-gradient(12deg, #e5fbff, #c9f8ff, #e8fffd, #eeffff, #f0feff);
  background-size: 1000% 1000%;
  -webkit-animation: bgGradient 10s ease infinite;
  -moz-animation: bgGradient 10s ease infinite;
  animation: bgGradient 10s ease infinite;
}


.overflow-x--hidden {
  overflow-x hidden
}

.box-shadow--5
  box-shadow 0px 0px 5px 0px #676767

.stretch
  align-items stretch

.align-items--center
  align-items center

.justify-content--center
  justify-content center

.bo-rad--3
  border-radius 3px

.flex
  display flex
